{% extends 'course-video.html' %}
{% load staticfiles %}

{% block css_add %}
<link rel="stylesheet" type="text/css" href="{% static 'css/video-js.min.css' %}">

<style>
.video-js .vjs-big-play-button {
	top: 50%;
	left: 50%;
}
</style>

<script src="{% static 'js/video.min.js' %}" type="text/javascript"></script>

{% endblock %}

{% block lesson_desc %}
{% endblock %}

{% block video %}
<div style="width:1200px;height:675px; ">
    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1200" poster="http://video-js.zencoder.com/oceans-clip.png" data-setup="" >
        <source src="http://p96dsgm7r.bkt.clouddn.com/第一章~2.mp4"  type="video/mp4">
    </video>
</div>
{% endblock %}



